body{
    width: 100%;
  }
#div1{
    width: 70%;
    background-color: grey ;
  }
#p1{
    width: 50%;
    background-color: blue;
  }
#p2{
    width: 50%;
    background-color: orange;
  }
#p3{
    width: 50%;
    background-color: green;
  }
